@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}

header {
  border-bottom: 1px solid #dcdcdc;
  background-color: rgb(255 255 255 / 85%);
  backdrop-filter: blur(10px);
  color: #414141;
  font-weight: 700;
}

.download-cv-btn {
  background-color: #414141;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

#experience,
#education,
#work {
  padding-top: 110px;
}

.mobile-nav {
  position: absolute;
  height: 400px;
  top: 101px;
  right: 0;
  width: 100vw;
}

.mobile-content {
  display: grid;
  grid-gap: 25px;
}
